* {
   box-sizing: border-box;
}

main {
   width: 100%;
   background-color: #ffffff;
   display: block;
   justify-items: center;
   margin-top: 50px;
   font-family: 'fuenteCorporativa';
}

.seccionPrincipal {
   position: relative;
   display: block;
   width: 80%;
   height: auto;
   justify-items: center;
   background-color: #19015c;
   align-content: center;
   border-radius: 30px;
}

.areaTitulo {
   width: 80%;
   background-color: #000000;
   margin: 40px 20px;
   box-shadow: 0 0 25px #ffffff;
   font-family: 'fuenteCorporativa';
}

.textoTitulo {
   font-size: 30px;
   color: #ffffff;
   padding: 10px;
   border-radius: 15px;
   text-align: center;
   font-family: 'fuenteCorporativa';
   font-weight: bold;
}

.areaBasedatos {
   color: #ffffff;
   justify-items: center;
   margin: 30px 0px;
}

.tituloBasedatos {
   font-size: 20px;
   font-weight: bold;
}

.radioOpcion {
   accent-color: #0EC10E;
   cursor: pointer;
}

.areaFromulario {
   position: relative;
   width: 80%;
   height: auto;
   display: flex;
   justify-content: space-between;
}

.areaTablas {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-style: groove;
   padding: 20px;
}

.tituloAreabotones {
   color: #ffffff;
   font-size: 20px;
}
.areaBotonesopciones {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 10px;
}


.botonOpcion {
   background-color: #0EC10E;
   color: #ffffff;
   font-family: 'fuenteCorporativa';
   padding: 15px;
   border-radius: 15px;
   border-color: #dddddd;
   font-size: 16px;
   font-weight: bold;
}

.botonOpcion:hover {
   background-color: #ffffff;
   color: #000000;
   font-family: 'fuenteCorporativa';
   padding: 15px;
   border-radius: 15px;
   border-color: #dddddd;
   font-size: 16px;
   font-weight: bold;
}

.areaMensaje {
   width: 60%;
   position: relative;
   margin: 50px 0px;
   background-color: #ffffff;
   padding: 10px 20px;
   border-radius: 60px;
   border-color: #0EC10E;
   border-style: groove;
   justify-content: center;
   box-shadow: 0 0 25px #ffffff;
}

.textoMensaje {
   font-size: 30px;
   color: #000000;
   margin: 0%;
   text-align: center;
}

@font-face {
   font-family: 'fuenteCorporativa';
   src: url('../fuentes/29lt-bukra.ttf') format('truetype');
}