* {
   box-sizing: border-box;
}

body {
   font-family: 'fuenteCorporativa';
   padding-top: 55px;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: #dddddd;
   overflow-x: hidden;
   max-width: 100%;
   justify-items: center;
}

.seccionPrincipal {
   position: relative;
   display: block;
   width: 80%;
   height: 400px;
   justify-items: center;
   background-color: #19015c;
   align-content: center;

}

.areaTitulo {
   width: 80%;
   background-color: #000000;
   margin: 40px 20px;
   box-shadow: 0 0 25px #ffffff;
}

.textoTitulo {
   font-size: 30px;
   color: #ffffff;
   padding: 10px;
   border-radius: 15px;
   text-align: center;
   font-family: 'fuenteCorporativa';
   font-weight: bold;
}

.areaFromulario {

   position: relative;
   width: 80%;
   height: auto;
   display: flex;
   justify-content: space-between;
}

.areaBotonesopciones {
   position: relative;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 10px;
}

.botonOpcion {
   background-color: #0EC10E;
   color: #ffffff;
   font-family: 'fuenteCorporativa';
   padding: 15px;
   border-radius: 15px;
   border-color: #dddddd;
   font-size: 16px;
   font-weight: bold;
}

.botonOpcion:hover {
   background-color: #ffffff;
   color: #000000;
   font-family: 'fuenteCorporativa';
   padding: 15px;
   border-radius: 15px;
   border-color: #dddddd;
   font-size: 16px;
   font-weight: bold;
}

.areaMensaje {
   width: 60%;
   position: relative;
   margin: 50px 0px;
   background-color: #d6d6d6;
   padding: 10px 20px;
   border-radius: 60px;
   border-color: #ffffff;
   justify-content: center;
}

.textoMensaje {
   font-size: 30px;
   color: #000000;
   margin: 0%;
   text-align: center;
}

/* BARRA PROGRESO */

.contenedor {
   text-align: center;
   width: 80%;
   max-width: 500px;
}

/* Contenedor gris de la barra */
.barra-fondo {
   width: 100%;
   background-color: #e0e0e0;
   border-radius: 25px;
   padding: 3px;
   box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* Barra de color que se llena */
.barra-progreso {
   /* Usamos PHP para inyectar el ancho dinámicamente */
   height: 25px;
   background-color: #4caf50;
   border-radius: 20px;
   transition: width 0.5s ease-in-out;
}

.texto {
   font-size: 18px;
   font-weight: bold;
   color: #333;
   margin-bottom: 10px;
}

@font-face {
   font-family: 'fuenteCorporativa';
   src: url('../fuentes/29lt-bukra.ttf') format('truetype');
}